.main1{
    background-color: #e8eaed;
}
.main2{
    padding: 24px;
    background-color: #e8eaed;
}
.main3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:2px;
    padding: 40px;
    background-color: white;
    max-width: calc(100vw - 200px);
}

.grid{
    display: grid;
    height: 100%;
    grid-template-columns: 0 calc(100vw - 200px) 200px;
    grid-template-rows: auto;
    background-color: #e8eaed;
    transition: .5s ease 0s;
}

.grid.active{
    display: grid;
    height: 100%;
    grid-template-columns: 270px calc(100vw - 470px) 200px;
    grid-template-rows: auto;
    background-color: #e8eaed;
    transition: .5s ease 0s;
}

.nav{
    transition: .7s ease 0s;
    width: 0;
}

.nav.active{
    position: sticky;
    top: 68.8px;
    width: 270px;
    background: white;
    transition: .7s ease 0s;
    display: block;
    height: calc(100vh - 68.8px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 1px solid;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
}

.spy{
    position: fixed;
    top: 68.8px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 160px;
    left: calc(100vw - 190px);
    
}

.btn1type1 {
    align-items: center;
    border: 0;
    background-color: #f1f3f4;
    bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    cursor: pointer;
    display: flex;
    border-radius:2px 100px 100px 2px;
    height: 40px;
    justify-content: center;
    min-width: 24px;
    padding: 0;
    position: fixed;
    transform: translateX(-8px);
    z-index: 50;
    
}

.btn1type1:hover {
    padding-left: 20px
}

.btn2type1 {
    align-items: center;
    border: 0;
    left: 210px;
    background-color: #f1f3f4;
    bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    cursor: pointer;
    display: flex;
    border-radius:60px 60px 60px 60px;
    height: 40px;
    justify-content: center;
    width: 40px;
    padding: 0;
    position: fixed;
    transform: translateX(-8px);
    z-index: 50;
    transform: rotate(180deg);
    
}

.prebgcl{
    background-color: #f1f3f4;
    overflow-x: auto;

    &.dark{
        background-color: #283142;
    }
}


.icon {
    font-family: 'Icons', sans-serif;
    color:#5f6368;
    font-size: 24px;   
}

@font-face {
    font-family: 'Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../Image/Icon.woff2) format('woff2');
}

.navhide{
    display: none;
}

.navshow{
    display: block;
}

.grid2{
    display: grid;
    height: auto;
    grid-template-columns: 24px auto;
    grid-template-rows: 24px;
    align-items: center;
}

.icon2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Icons', sans-serif;
    color:#5f6368;
}

.trun{
    transform: rotate(90deg);
}

.word{
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.input{
    position: fixed;
    top: 68.8px;
    right: 0;
    width: 380px;
    height: calc(100vh - 68.8px);
    z-index: 0;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 1px solid;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
}

.closebtn{
    position: relative;
    z-index: 1;
    top:5px;
    left: calc(100% - 25px);
}

.tpl1{
    padding-left: 24px;
}

.tpl2{
    padding-left: 48px;
}

.tpl3{
    padding-left: 72px;
}

.grid2:hover{
    background-color: #f1f3f4;
    border-radius: 0 12px 12px 0;
}

.tpl1:hover {
    background-color: #f1f3f4;
    border-radius: 0 12px 12px 0;
}

.tpl2:hover {
    background-color: #f1f3f4;
    border-radius: 0 12px 12px 0;
}

.tpl3:hover {
    background-color: #f1f3f4;
    border-radius: 0 12px 12px 0;
}

.item:hover{
    color: #0080FF;
}

.item.onspy{
    color: #004B97;
}

.item.onspy:hover{
    color: #0080FF;
}

.tpl1.onpage{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#004B97;
}

.tpl1.onpage:hover{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#0080FF;
}

.tpl2.onpage{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#004B97;
}

.tpl2.onpage:hover{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#0080FF;
}

.tpl3.onpage{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#004B97;
}

.tpl3.onpage:hover{
    background-color:#ECF5FF;
    border-radius: 0 12px 12px 0;
    color:#0080FF;
}

.tab{
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:20px 20px 0px 0px;
    background-color: #fff;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #5c6161;
    font-weight: bold;
}

.tab button.active{
    color: #0080FF;
    border-bottom: solid 3px  #0080FF;
}

.tab button:hover {
    border-bottom: solid 3px  #686c6e;
    &.active{
        color: #0080FF;
        border-bottom: solid 3px  #0080FF;
    }
}

.tabbox{
    display: none;
}

.tabbox.active{
    overflow: hidden;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:0px 0px 20px 20px;
    background-color: #fff;
}

.nav :global(ul){
    padding:0;
}

.form :global(textarea){
    resize: none;
}

:global(.jsoneditor){
    border-radius:10px;
}

:global(.jsoneditor-statusbar){
    border-radius:0px 0px 10px 10px;
}

:global(.jsoneditor-menu){
    border-radius:9px 9px 0px 0px;
}

:global(.jsoneditor-menu a){
    display: none;
}

:global(.jsoneditor-repair){
    display: none;
}

:global(.jsoneditor-transform){
    display: none;
}

:global(.jsoneditor-sort){
    display: none;
}

@media (max-width: 992px){
    
    .main3{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius:2px;
        padding: 40px;
        background-color: white;
        max-width: calc(100vw);
    }

    .grid{
        display: grid;
        height: auto;
        grid-template-columns: 0 auto 0;
        grid-template-rows:auto;
        background-color: #e8eaed;
        transition: .5s ease 0s;
    }
    
    .grid.active{
        display: grid;
        height: auto;
        grid-template-columns: auto 0;
        grid-template-rows: auto ;
        background-color: #e8eaed;
        transition: .5s ease 0s;
    }
    
    .nav.active{
        position: fixed;
        top: 0;
        width: 270px;
        background: white;
        transition: .7s ease 0s;
        display: block;
        height: calc(100vh);
        overflow-y: auto;
        z-index: 10;
    }
    
    .spy{
        position:static;
        padding-top: 40px;
        padding-left: 20px;
        width: 100%;  
    }

    .navback{
        position: fixed;
        top:0px;
        width: calc(100vw);
        background-color: rgba(0, 0, 0, .6);
        display: block;
        height: calc(100vh);
        z-index: 9;
    }
    
}