
.background{
  display: block;
  background-color: white !important ;
  position: sticky;
  top: 0;
  padding-bottom: 12px;
  background-clip: padding-box;
  box-shadow: inset 0 0 500px #fff;
  border-radius: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 5;
}
